# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 4
# C-style doc comments for eclint
block_comment_start = /*
block_comment = *
block_comment_end = */

[{package.json,.travis.yml,package-lock.json,codecov.yml,.all-contributorsrc}]
indent_style = space
indent_size = 2
